<h1><%= t ".sample_app" %></h1>
<%= t "email_greeting", name: @user.name %>,

<%= t "account_activation_welcome" %>

<%= link_to t("account_activation"),
  edit_account_activation_url(@user.activation_token, email: @user.email) %>
